In [3]:
#https://naomi-fridman.medium.com/install-pyspark-to-run-on-jupyter-notebook-on-windows-4ec2009de21f
import findspark

In [4]:
findspark.init()
findspark.find()
import pyspark

#### Examples to test working of spark

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
nums = sc.parallelize([1,2,3,4])
nums.map(lambda x: x*x).collect()

[1, 4, 9, 16]

In [3]:
from pyspark import SparkContext
import numpy as np
sc=SparkContext(master="local[4]")
words = 'These are some of the best Macintosh computers ever'.split(' ')
wordRDD = sc.parallelize(words)
wordRDD.reduce(lambda w,v: w if len(w)>len(v) else v)

'computers'

In [3]:
from pyspark.sql import Row
from pyspark.sql import SQLContext
from pyspark import SparkContext
sc =SparkContext()
sqlContext = SQLContext(sc)
list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)]
rdd = sc.parallelize(list_p)
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
DF_ppl = sqlContext.createDataFrame(ppl)
DF_ppl.printSchema()
DF_ppl.show()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

+-----+---+
| name|age|
+-----+---+
| John| 19|
|Smith| 29|
| Adam| 35|
|Henry| 50|
+-----+---+

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession \
        .builder \
        .appName('First spark session') \
        .getOrCreate()

In [7]:
spark.sparkContext.getConf().getAll()

[('spark.driver.port', '54891'),
 ('spark.driver.host', '192.168.1.8'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'First spark session'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.id', 'local-1603841262293'),
 ('spark.ui.showConsoleProgress', 'true')]

In [62]:
usr_log = spark.read.json(r'C:\Users\Shrikanth Singh\Desktop\Conrad Notebooks\Py-Spark Practice\Sparkify-Project-master\sparkify_log_small.json')

In [63]:
usr_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [64]:
usr_log.show(n=2)

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|Showaddywaddy|Logged In|  Kenneth|     M|          112|Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|   Lily Allen|Logged In|Elizabeth|     F|            7|   Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 2 rows

In [65]:
out_path = 'sparkify_log_small.csv'
#usr_log.write.save(out_path, format='csv', header=True)

In [66]:
usr_log_csv = spark.read.csv(out_path)

In [67]:
usr_log.describe('sessionId').show()

+-------+------------------+
|summary|         sessionId|
+-------+------------------+
|  count|             10000|
|   mean|         4436.7511|
| stddev|2043.1281541827561|
|    min|                 9|
|    max|              7144|
+-------+------------------+

In [68]:
usr_log.select(['page']).dropDuplicates().show()

+----------------+
|            page|
+----------------+
|Submit Downgrade|
|            Home|
|       Downgrade|
|          Logout|
|   Save Settings|
|           About|
|        Settings|
|           Login|
|        NextSong|
|            Help|
|         Upgrade|
|           Error|
|  Submit Upgrade|
+----------------+

In [69]:
usr_log.select(['userId', 'status', 'artist', 'song', 'ts']).where(usr_log.userId=='1046').show()

+------+------+------------------+--------------------+-------------+
|userId|status|            artist|                song|           ts|
+------+------+------------------+--------------------+-------------+
|  1046|   200|     Showaddywaddy|Christmas Tears W...|1513720872284|
|  1046|   200|     Darius Rucker|  Be Wary Of A Woman|1513721104284|
|  1046|   200|      Public Enemy|   Public Enemy No.1|1513721310284|
|  1046|   200|        Jag Panzer|Reign Of The Tyrants|1513721591284|
|  1046|   200|           Boyzone|      Father And Son|1513721808284|
|  1046|   200|  Hollywood Undead|               No. 5|1513721976284|
|  1046|   200|   Jimmy Eat World|           Seventeen|1513722161284|
|  1046|   200|              null|                null|1513837636284|
|  1046|   200|             Wilco|          War on war|1513837660284|
|  1046|   200|Fountains Of Wayne|   Killermont Street|1513837887284|
|  1046|   200|        Miike Snow|        Black & Blue|1513838080284|
|  1046|   307|              null|                null|1513838081284|
|  1046|   200|              null|                null|1513838155284|
|  1046|   200|   Yeah Yeah Yeahs|     Heads Will Roll|1513838300284|
|  1046|   200|       Linkin Park|Bleed It Out [Liv...|1513838520284|
|  1046|   200|          Coldplay|              Clocks|1513839014284|
|  1046|   200|        Jill Scott|           Love Rain|1513839321284|
|  1046|   200|          Glassjaw|Ry Ry's Song (Alb...|1513839573284|
|  1046|   200|     Michael Cretu|   The Invisible Man|1513839785284|
|  1046|   200|     Lonnie Gordon|Catch You Baby (S...|1513840086284|
+------+------+------------------+--------------------+-------------+
only showing top 20 rows

In [70]:
from pyspark.sql.functions import udf
import datetime
get_hour = udf(lambda x: datetime.datetime.fromtimestamp(x/1000).hour)

In [71]:
usr_log = usr_log.withColumn('hour', get_hour(usr_log.ts))

In [72]:
usr_log.head()

Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046', hour='23')

In [73]:
songs_in_hour = usr_log.where(usr_log.page=='NextSong').groupBy(usr_log.hour).count().orderBy(usr_log.hour.cast('float'))

In [74]:
usr_log_valid = usr_log.dropna(how='any', subset=['sessionId', 'userId'])

In [75]:
usr_log_valid.count()

10000

In [76]:
usr_log_valid = usr_log_valid.where(usr_log_valid.userId != '')
usr_log_valid.count()

9664

In [77]:
usr_log_valid.where(usr_log_valid.page == 'Submit Downgrade').show()

+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----------------+-------------+---------+----+------+-------------+--------------------+------+----+
|artist|     auth|firstName|gender|itemInSession|lastName|length|level|            location|method|            page| registration|sessionId|song|status|           ts|           userAgent|userId|hour|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----------------+-------------+---------+----+------+-------------+--------------------+------+----+
|  null|Logged In|    Kelly|     F|           24|  Newton|  null| paid|Houston-The Woodl...|   PUT|Submit Downgrade|1513283366284|     5931|null|   307|1513768454284|Mozilla/5.0 (Wind...|  1138|  12|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+----------------+-------------+---------+----+------+-------------+--------------------+------+----+

In [25]:
usr_log.select(['userId', 'firstName', 'page', 'level']).where(usr_log.userId=='1138').collect()

[Row(userId='1138', firstName='Kelly', page='Home', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='Help', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='Home', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='paid'),
 Row(userId='1138', firstName='Kelly', page='Downgrade', level='paid'),
 Row(userId='1138', firstName='Kelly', page='Submit Downgrade', level='paid'),
 Row(userId='1138', firstName='Kelly', page='Home', level='free'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='free'),
 Row(userId='1138', firstName='Kelly', page='Home', level='free'),
 Row(userId='1138', firstName='Kelly', page='NextSong', level='free')]

In [78]:
from pyspark.sql.types import *
flag_downgrade_event = udf(lambda x: 1 if x == 'Submit Downgrade' else 0, IntegerType())
usr_log_valid = usr_log_valid.withColumn('flag_event', flag_downgrade_event(usr_log_valid.page))

In [79]:
usr_log_valid.show()

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+----------+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|hour|flag_event|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+----------+
|       Showaddywaddy|Logged In|  Kenneth|     M|          112| Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|  23|         0|
|          Lily Allen|Logged In|Elizabeth|     F|            7|    Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|  23|         0|
|Cobra Starship Fe...|Logged In|     Vera|     F|            6|Blackwell|196.20526| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Good Girls Go Bad...|   200|1513720881284|"Mozilla/5.0 (Mac...|  2219|  23|         0|
|          Alex Smoke|Logged In|   Sophee|     F|            8|   Barker|405.99465| paid|San Luis Obispo-P...|   PUT|NextSong|1513009647284|     2372| Don't See The Point|   200|1513720905284|"Mozilla/5.0 (Win...|  2373|  23|         0|
|                null|Logged In|   Jordyn|     F|            0|    Jones|     null| free|        Syracuse, NY|   GET|    Home|1513648531284|     1746|                null|   200|1513720913284|"Mozilla/5.0 (Mac...|  1747|  23|         0|
|                null|Logged In|   Jordyn|     F|            1|    Jones|     null| free|        Syracuse, NY|   GET|Settings|1513648531284|     1746|                null|   200|1513720932284|"Mozilla/5.0 (Mac...|  1747|  23|         0|
|              Redman|Logged In|    Paige|     F|            0|   Hunter|154.53995| free|       Brownwood, TX|   PUT|NextSong|1498414068284|     4406|        Smoke Buddah|   200|1513720955284|"Mozilla/5.0 (Mac...|  1162|  23|         0|
|     Ulrich Schnauss|Logged In|  Gabriel|     M|            2|     Koch|402.93832| paid|     Panama City, FL|   PUT|NextSong|1505820418284|     1060|           On My Own|   200|1513720959284|Mozilla/5.0 (Wind...|  1061|  23|         0|
|                null|Logged In|    Mason|     M|            2|   Thomas|     null| paid|Indianapolis-Carm...|   GET|    Home|1487015656284|     5661|                null|   200|1513720959284|Mozilla/5.0 (comp...|   748|  23|         0|
|                null|Logged In|Alexander|     M|            0|    Short|     null| free|       Green Bay, WI|   GET|    Home|1513594398284|     3689|                null|   200|1513720980284|"Mozilla/5.0 (Win...|   597|  23|         0|
|               Jay-Z|Logged In|  Micheal|     M|           23|   Morgan|223.26812| paid|        Sterling, CO|   PUT|NextSong|1485051492284|     5175|Heart Of The City...|   200|1513720983284|"Mozilla/5.0 (Win...|  1806|  23|         0|
|         Evanescence|Logged In|    Mason|     M|            3|   Thomas|237.11302| paid|Indianapolis-Carm...|   PUT|NextSong|1487015656284|     5661|    Bring Me To Life|   200|1513720993284|Mozilla/5.0 (comp...|   748|  23|         0|
|     Scissor Sisters|Logged In|   Justin|     M|           82|    Jones|218.01751| paid|          Dayton, TN|   PUT|NextSong|1504706730284|     1175|               Laura|   200|1513721031284|"Mozilla/5.0 (Win...|  1176|  23|         0|
|        3 Doors Down|Logged In|     Zoie|     F|           28|   Wright|237.13914| paid|Chicago-Napervill...|   PUT|NextSong|1512172030284|     2163|    Here Without You|   200|1513721045284|"Mozilla/5.0 (Mac...|  2164|  23|         0|
|       George Younce|Logged In|  Malachi|     M|            3|     Lane|191.68608| free|     Sioux Falls, SD|   PUT|NextSong|1510109243284|     5272|This Old House w/...|   200|1513721058284|Mozilla/5.0 (Wind...|  2146|  23|         0|
|              Aly-Us|Logged In|     Vera|     F|            7|Blackwell|383.58159| paid|          Racine, WI|   PUT|NextSong|1499855749284|     5516|Follow Me (Club Mix)|   200|1513721077284|"Mozilla/5.0 (Mac...|  2219|  23|         0|
|                null|Logged In|   Justin|     M|           83|    Jones|     null| paid|          Dayton, TN|   GET|    Home|1504706730284|     1175|                null|   200|1513721088284|"Mozilla/5.0 (Win...|  1176|  23|         0|
|            BjÃÂ¶rk|Logged In|    Elena|     F|            0|   Newman|348.57751| free|Boston-Cambridge-...|   PUT|NextSong|1513494341284|     2903|                Undo|   200|1513721095284|Mozilla/5.0 (Wind...|  2904|  23|         0|
|      David Bromberg|Logged In|Alexander|     M|            1|    Short|146.36363| free|       Green Bay, WI|   PUT|NextSong|1513594398284|     3689|Sheebeg And Sheemore|   200|1513721097284|"Mozilla/5.0 (Win...|   597|  23|         0|
|          Nickelback|Logged In|  Abigail|     F|            4| Davidson|238.18404| paid|Lansing-East Lans...|   PUT|NextSong|1513173389284|     4591|Far Away (Album V...|   200|1513721104284|"Mozilla/5.0 (Mac...|   226|  23|         0|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+----------+
only showing top 20 rows

In [80]:
from pyspark.sql import Window
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
import pyspark.sql.functions as F
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [93]:
windowval = Window.partitionBy("userId").orderBy(desc("ts")).rangeBetween(Window.unboundedPreceding, 0)

In [94]:
usr_log_valid = usr_log_valid.withColumn("list_view", F.collect_list(F.col("flag_event")).over(windowval))
usr_log_valid = usr_log_valid.withColumn("phase", Fsum("flag_event").over(windowval))

In [95]:
usr_log_valid.select(['page','level', 'list_view', 'phase']).where(usr_log_valid.userId == '1138').show()

+----------------+-----+--------------------+-----+
|            page|level|           list_view|phase|
+----------------+-----+--------------------+-----+
|        NextSong| free|                 [0]|    0|
|            Home| free|              [0, 0]|    0|
|        NextSong| free|           [0, 0, 0]|    0|
|            Home| free|        [0, 0, 0, 0]|    0|
|Submit Downgrade| paid|     [0, 0, 0, 0, 1]|    1|
|       Downgrade| paid|  [0, 0, 0, 0, 1, 0]|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
|        NextSong| paid|[0, 0, 0, 0, 1, 0...|    1|
+----------------+-----+--------------------+-----+
only showing top 20 rows